.location {
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
    min-height: 720px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location .location__type {
    width: 90%;
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 0;
}

.location__selects{
    width: 90%;
    display: flex;
    flex-direction: column;
}

.location__coordinates{
    width: 90%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location__types{
    margin-left: -12px;
    width: 80%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
}

.location__types li {
    padding: 1.2vh 1.14vw;
    border: 1px solid #C4C4C4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    cursor: pointer;
    border-right: none;
}

.location__types li:first-of-type {
    border-radius: 4px 0 0 4px;
}

.location__types li:last-of-type {
    border-radius: 0 4px 4px 0;
    border-right: 1px solid #C4C4C4;
}

.location__types li:hover{
    background: #731919 ;
    color: white;
    border: 1px solid #731919;
    border-right: none;
}

.location__types li.active {
    background: #731919 ;
    color: white;
    border: 1px solid #731919;
    border-right: none;
}

