.input-with-operations{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-with-operations label {
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-with-operations .input-operation{
    height: 40px;
    width: 100%;
    position: relative;
}

.input-with-operations .input-operation input{
    width: 96px;
    height: 40px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    padding-left:45%;
}

.input-with-operations .input-operation .plus-logo {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: 5px;
    right: 10px;
}

.input-with-operations .input-operation .minus-logo {
    cursor: pointer;
    position: absolute;
    padding: 10px;
    top: 10px;
    left: 3px;
}