.input-with-operations{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-with-operations label {
    font-size: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-with-operations .input-operation{
    height: 40px;
    width: 92%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.input-with-operations .input-operation input{
    width: 30px;
    height: 40px;
    border:none;
    background: transparent;
    outline:none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    margin-left: 10px;
}

.minus {
    padding: 5px 10px 10px 10px;
    cursor: pointer;
}

.plus {
    padding: 10px 10px 4px 10px;
    cursor: pointer;
}