.status {
    width: 100%;
    margin-left: 10px;
    min-height: 150px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status__buttons{
    list-style: none;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 0;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status__buttons li {
    cursor: pointer;
    padding: 2vh 1vw;
    text-align: center;
    width: 50%;
    border: 1px solid #c4c4c4;
}

.status__buttons li:hover{
    background: #731919;
    color: white;
    border: 1px solid #731919;
}

.status__buttons button{
    background: none;
    outline: none;
    width: 45%;
    cursor: pointer;
    height: 47px;
    border: 1px solid #C4C4C4;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1em;
}

.status__buttons li:first-of-type {
    border-radius: 4px;
    border-right: none;
    margin-right: -5px;
}

.status__buttons li:last-of-type {
    border-radius: 4px ;
    border-left: none;
}

.status__buttons .selected {
    background: #731919;
    color: white;
    border: 1px solid #731919;
    z-index: 100;
}