.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.head h2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
}

.head p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #731919;
    cursor: pointer;
}

.head-options{
    margin-right: 30px;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}