.page-pagination{
    margin-left: 30px;
    margin-top: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-pagination p{
    font-size: 15px;
    font-family: 'Roboto';
}

.page-pagination__pagination{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.page-pagination__pagination p {
    cursor: pointer;
}

.page-pagination__pagination ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-radius: 4px;
}

.page-pagination__pagination ul li {
    padding: 0.9vh 0.7vw;
    border: 1px solid #C4C4C4;
    border-left: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9em;
    cursor: pointer;
}

.page-pagination__pagination ul li:hover{
    background: #731919;
    color: white;
}

.page-pagination__pagination ul li:first-of-type{
    border-left: 1px solid #C4C4C4;
}
