.add-object-page{
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-out;
}

.add-object-page__forms {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.add-object-page__forms-left{
    width: 55%;
}

.add-object-page__forms-right{
    width: 40%;
    margin-left: 1.4vw;
}

.add-object-page__center {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-object__loader {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}