.categories-list {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.categories-list p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}