.categories-page{
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-out;
}

.categories-page__categories{
    margin-left: 1.4vw;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}