.categories-item a {
    text-decoration: none;
}

.categories-item{
    cursor: pointer;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    color: #731919;
    border: 3px solid #731919;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
}

.categories-item h5{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #731919;
    font-size: 17px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.categories-item h5 a {
    color: #731919;
}

.categories-item h5:hover{
    background: #731919;
}

.categories-item h5:hover a{
    color: white;
}