.specifications{
    width: 100%;
    margin-left: 10px;
    margin-top: 15px;
    min-height: 1370px;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specifications-inputs {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.specifications_separate-room{
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
}

.specifications__inf{
    margin-top: 20px;
    width: 90%;
    align-items: flex-start;
}

.specifications__inf p {
    font-family: 'Roboto';
    font-size: 0.9em;
    font-weight: 500;
}

.specifications__has-phone{
    width: 60%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    border-radius: 4px;
}

.specifications__has-phone li {
    padding: 12px 15px;
    border: 1px solid #C4C4C4;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    cursor: pointer;
}

.specifications__has-phone li:first-of-type {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.specifications__has-phone li:nth-of-type(2){
    border-left: none;
}

.specifications__has-phone li:last-of-type {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.specifications__has-phone li:hover{
    background: #731919 ;
    color: white;
    border: 1px solid #731919;
}

.specifications__has-phone li:nth-of-type(2):hover{
    border-left: none;
}

.specifications__add-object{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.specifications__add-object p {
    padding-right: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #731919;
    cursor: pointer;
}

.specifications__has-phone li.active {
    background: #731919 ;
    color: white;
    border: 1px solid #731919;
}


.specifications__has-phone li:nth-of-type(2).active{
    border-left: none;
}